<app-Nav></app-Nav>
<div class="container">
  <div class="row" style="margin: 200px 0 200px 0">
    <div class="row">
      <h1
        class="col-xl-7 text-white"
        style="font-size: 65px; display: flex; align-items: center"
      >
        Controla y optimiza tu cadena de suministro de principio a fin
      </h1>
      <div class="col-xl-5 imgPrincipal mt-5">
        <img src="../assets/img/imgPrincipal.png" alt="" />
      </div>
      <!-- <app-login></app-login> -->
      <app-register-user></app-register-user>
    </div>
  </div>
</div>
