.login{
    display: flex;
    flex-direction: column;
    
}

input{
    border-radius: 30px;
    padding: 3%;
    width: 500px;
}

.btn{
    
    border-radius: 30px;
    color: white;
    background-color: #E83E8C;
    padding: 10px;
    width: 250px;
    transition: all 0.3s;
}

.btn:hover{
    background-color: black;
}

@media all and (max-width:576px){

    .login{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    input{
        width: 300px;
    }
 
}