<form action="" class="login">
  <div class="col-sm-5">
    <label for="staticEmail" class="col-form-label text-white"
      >Correo Electrónico:</label
    >
    <input
      type="email"
      class="form-control"
      id="staticEmail"
      placeholder="Ingrese su correo electrónico"
      required
    />
  </div>

  <div class="mb-3 col-sm-5">
    <label for="inputPassword" class="col-form-label text-white"
      >Contraseña:</label
    >

    <input
      type="password"
      class="form-control"
      id="inputPassword"
      placeholder="Ingrese su contraseña"
      required
    />
  </div>
  <div>
    <button class="btn col-3" type="submit">
      <b>INICIAR SESIÓN</b>
    </button>
  </div>
</form>
