<!-- COMPONENT NAV -->
<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #343e51"
>
  <div class="container">
    <div class="navbar-brand">
      <img
        src="./assets/img/LogoPil.png"
        alt=""
        width="90"
        height="40"
        class="d-inline-block align-text-top"
      />
    </div>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item mx-lg-4">
          <a
            class="nav-link active"
            style="color: #ffe700"
            aria-current="page"
            href="#"
          >
            <b>INICIO</b></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#"><b>ACERCA DE</b></a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/register"><b>REGISTRARSE</b></a>
      </li>
    </ul>

    <!-- Botón responsive -->
    <button
      class="navbar-toggler"
      style="background-color: #ffe700; border-color: #e83e8c; box-shadow: none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
