/* You can add global styles to this file, and also import other style files */
body{
    background: #DA4453;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.imgPrincipal img {
    width: 450px;
}

@media all and (max-width:768px){



    .imgPrincipal img {
        width: 350px;
        margin-bottom: 50px;
    }
 
    }